/*
    Styling for info button in
 */
.info-button{
    -fx-border-color:  #c7c6c6;
    -fx-border-radius: 20;
    -fx-border-width: 2;
    -fx-background-color:  rgb(0,0,0,0);
    -fx-text-fill: #c7c6c6;
}
/*
    Changes in border and text color when the mouse hovers over the button
 */
.info-button:hover{
    -fx-border-color:  Black;
    -fx-text-fill: Black;
}

/*
    Main button styling for buttons in the application
 */
.main-button{
    -fx-background-color: rgba(168, 161, 146,0.2);
    -fx-border-width: 1;
    -fx-border-color: Black;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
/*
    Change in background color when mouse hover over button
*/
.main-button:hover{
    -fx-background-color: rgb(100,100,100,0.5);
}